@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
}
.container{
  height: 350px;
  width: 430px;
  position: relative;
}
.container .wrapper,.container .wrapper1,.container .wrapper2{
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}
.wrapper.active,.wrapper1.active,.wrapper2.active{
  border: none;
}
.wrapper .image,.wrapper1 .image,.wrapper2 .image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper img,.wrapper1 img,.wrapper2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper .icon,.wrapper1 .icon,.wrapper2 .icon{
  font-size: 100px;
  color: #9658fe;
}
.wrapper .text,.wrapper1 .text,.wrapper2 .text{
  font-size: 20px;
  font-weight: 500;
  color: #5B5B7B;
}
.wrapper #cancel-btn i ,.wrapper1 #cancel-btn1 i,.wrapper2 #cancel-btn2 i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #9658fe;
  cursor: pointer;
  display: none;
}
.wrapper.active:hover #cancel-btn i,.wrapper1.active:hover #cancel-btn1 i,.wrapper2.active:hover #cancel-btn2 i {
  display: block;
}
.wrapper #cancel-btn i:hover ,.wrapper1 #cancel-btn1 i:hover,.wrapper2 #cancel-btn2 i:hover{
  color: #e74c3c;
}
.wrapper .file-name,.wrapper1 .file-name1,.wrapper2 .file-name2{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}
.wrapper.active:hover .file-name,.wrapper1.active:hover .file-name1,.wrapper2.active:hover .file-name2{
  display: block;
}
.container #custom-btn ,.container #custom-btn1,.container #custom-btn2{
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}

.meta {
    margin-top: 10px;
    margin-bottom: 10px;
}

.enableEthereumButton{
    color:#3a8ffe;
}

.submit {
    color: #3a8ffe;
}
.sub {
    padding: 10px;
}
